@font-face {
    font-family: "Norse-Bold";
    src: url("font/Norse-Bold.otf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html, body, .main-body { /* Makes sure the .main-body container will stretch all the way. Need to stretch html and body to do so */
    height: 100%;
}

.main-body {
    display: flex;
}

.background {
    flex: 1;
    background-image: url("images/background.jpg");
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch; /* make sure containers fill the whole horizontal stretch */
    text-align: center; /* align the logo and text center */
}

/*Inside background */

.odin-logo {
    display: inline-block;
    font-family: Norse-Bold;
    font-size: 5rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}

.odin-logo > img {
    width: 5rem;
    height: auto;
    margin-bottom: -1rem; /* Aligns the logo to the center of the text line */
}

.credits {
    position: absolute;
    color: white;
    align-self: center;
    bottom: 1rem; /* Position this element 1rem from the bottom */
}

/* End of background */

.form-space {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-space > div {
    padding-left: 3rem;
}

/* Inside the form-space */

.top-description > div {
    margin-bottom: 2rem;
    font-weight: bold;
    font-size: 1.5rem;
}

.top-description > div:last-child {
    margin-bottom: 4rem;
}

.middle-form-inputs { /* Padded to ensure enlargement of the box*/
    padding-top: 1rem;
    padding-bottom: 1rem;
    box-shadow: 4px 4px 5px 2px rgb(201, 201, 201); /* negative spread radius hides the top border shadow*/
}

/* Form controls */
.form-header {
    font-weight: bold;
    font-size: 1.5rem;
}

.form-body {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.row {
    display: flex;
    gap: 80px;
    margin-bottom: 20px;
}

.input-style {
    display: flex;
    flex-direction: column;
}

input {
    width: 200px;
    height: 25px;
    border-style: solid;
    border-color: #E5E7EB;
    border-radius: 0.2rem;
    border-width: 1px;
    padding: 2px 12px;
}

input:focus {
    box-shadow: 2px 4px 5px -2px rgb(201, 201, 201);
    outline: 1px solid blue;
}

label {
    font-size: 0.8rem;
    font-weight: bold;
}

/* End of form controls */

.bottom-submission > div {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

button {
    padding: 1rem 3rem;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    background-color: #596D48;
    border-style: none;
    border-radius: 0.5rem;
}

button:hover {
    cursor: pointer;
    box-shadow: 4px 4px 5px -2px rgb(201, 201, 201);
    background-color: #5f764d;
}

a {
    color: #596D48;
    text-decoration: none;
    font-weight: bold;
}

/* For password matching error handling  */
.error {
    border-color: red;
}

.success {

}

/* End of form-space */

/* @media only screen and (min-width: 700px) {
    .main-body {
        display: flex;
        flex-direction: column;
    }
} */