@font-face {
    font-family: "Norse-Bold";
    src: url("font/Norse-Bold.otf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html, body, .main-body { /* Makes sure the .main-body container will stretch all the way. Need to stretch html and body to do so */
    height: 100%;
}

.main-body {
    display: flex;
}

.background {
    flex: 1;
    background-image: url("images/background.jpg");
}

.form-space {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-space > div {
    padding-left: 3rem;
}

/* Inside the form-space */

.top-description > div {
    margin-bottom: 2rem;
    font-weight: bold;
    font-size: 1.5rem;
}

.top-description > div:last-child {
    margin-bottom: 4rem;
}

.middle-form-inputs { /* Padded to ensure enlargement of the box*/
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-style: solid;
    border-color: #E5E7EB;
}

/* Form controls */
.form-header {

}

.form-body {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.row {
    display: flex;
    gap: 80px;
    margin-bottom: 20px;
}

.input-style {
    display: flex;
    flex-direction: column;
}

input {
    width: 200px;
    height: 25px;
}

/* End of form controls */

.bottom-submission > div {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

button {
    padding: 1rem 3rem;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    background-color: #596D48;
    border-style: none;
    border-radius: 0.5rem;
}

/* End of form-space */

/* @media only screen and (min-width: 700px) {
    .main-body {
        display: flex;
        flex-direction: column;
    }
} */