@font-face {
    font-family: "Norse-Bold";
    src: url("font/Norse-Bold.otf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html, body, .main-body { /* Makes sure the .main-body container will stretch all the way. Need to stretch html and body to do so */
    height: 100%;
}

.main-body {
    display: flex;
    align-items: stretch;
}

.background {
    flex: 1;
    background-image: url("images/background.jpg");
}

.main-form {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem;
}

.middle {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/* @media only screen and (min-width: 700px) {
    .main-body {
        display: flex;
        flex-direction: column;
    }
} */